* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: $dark-color;
  background: rgba($primary-color-variant, 0.1);
  user-select: none;
  overflow-x: hidden;
}
